/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
	background-color: beige;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
	border:1px dotted black;
}

img, video {
	width : 100%;
}

.colonne {
	flex-direction : column;
}

.pad{
	padding : 1em;
}

/** Alignements **/ 

.align{
	align-items: center;
}

.justify {
	justify-content: center;
}

.space{
	justify-content: space-around;
}

/** container de la page **/
.container{
	width:75%;
}

/** Div vide **/
.vide{
	flex:none;
	height:5vh;
}

/** Boutons du crud **/

.boutonCrud{
	height:3vh;
	width:3vw;
}


